<header>
    <div class="header-grusp use-steps text-center margin-bottom">
        <div class="grusp-logo-full margin-bottom">
            noi siamo
            <h1 class="hidden">GrUSP</h1>
        </div>
        <p class="small-font half to-center fill-till-tablet-landscape padding-horizontal">
            Nata nel 2003 come associazione dedicata al solo mondo del PHP il GrUSP è diventata il punto di riferimento in Italia per le buone pratiche nel mondo dello sviluppo web.<br> Organizziamo eventi, conferenze ed incontri informali coinvolgendo professionisti italiani ed internazionali.
        </p>
        <div class="go-to-bottom-arrow to-center margin-top"></div>
    </div>
</header>
