<div class="main-nav">
    <div class="opened-menu table no-line-height">
        <ul>
            <li class="fill">
                <a class="no-line-height" href="it/">
                    <img class="grusp-logo" src="/img/theme/grusp-logo-text-white.svg">
                </a>
            </li>
            <li>
                <span class="mobile-button open"></span>
            </li>
        </ul>
    </div>
    <div class="slide-menu closed">
        <div class="text-center contents">
            {% comment %}
            <div class="language uppercase">
                <a class="selected" href="/it/">Italiano</a> / <a href="/en/">English</a>
            </div>
            {% endcomment %}
            <nav class="navigation margin-top uppercase">
                <div><a class="header-button" href="/it/">Home</a></div>
                <div><a class="header-button" href="/it/about.html">About</a></div>
                <div><a class="header-button" href="/it/pug.html">PUG</a></div>
                <div><a class="header-button" href="/it/mygrants.html">MyGrants</a></div>
                <div><a class="header-button" href="http://vimeo.com/grusp" target="_blank">Video</a></div>
            </nav>
            <div class="margin-top">
                <img src="/img/theme/grusp-logo-cat-head-black-border.svg">
                <!--
                <p class="margin-top small-font half to-center fill-till-tablet-landscape">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
                    Aenean commodo ligula eget dolor.
                </p>
                -->
            </div>
        </div>
    </div>
</div>
