<div class="main-nav">
    <div class="opened-menu table no-line-height">
        <ul>
            <li class="fill">
                <a class="no-line-height" href="{{ site.baseurl }}/it/">
                    <img class="grusp-logo" src="{{ site.baseurl }}/img/theme/grusp-logo-text-white.svg">
                </a>
            </li>
            <li>
                <span class="mobile-button open"></span>
            </li>
        </ul>
    </div>
    <div class="slide-menu closed">
        <div class="text-center contents">
            <div class="language uppercase">
                <a class="selected" href="{{ site.baseurl }}/it/">Italiano</a> / <a href="{{ site.baseurl }}/en/">English</a>
            </div>
            <nav class="navigation margin-top uppercase">
                <div><a class="header-button" href="{{ site.baseurl }}/it/">Home</a></div>
                <div><a class="header-button" href="{{ site.baseurl }}/it/about.html">About</a></div>
                <div><a class="header-button" href="http://vimeo.com/grusp" target="_blank">Video</a></div>
            </nav>
            <div class="margin-top">
                <img src="{{ site.baseurl }}/img/theme/grusp-logo-cat-head-black-border.svg">
                <p class="margin-top small-font half to-center fill-till-tablet-landscape">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
                    Aenean commodo ligula eget dolor.
                </p>
            </div>
        </div>
    </div>
</div>
