---
layout: layout
title: about
---

{% include index-nav.html %}

<div class="use-steps header-grusp">
    <div class="full margin-top">
        <img class="grusp-logo-about fill-till-smartphone-landscape" src="{{ site.baseurl }}/img/theme/grusp-logo-lettering-black.svg">
    </div>
    <div class="row visible">
        <div class="hd-6-of-12">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.
        </div>
        <div class="hd-6-of-12 not-till-tablet-portrait">
            <span class="block fill relative">
                <img class="absolute fill" src="{{ site.baseurl }}/img/theme/grusp-logo-cat-head-grey-border.svg">
            </span>
        </div>
        <span class="fill clear"></span>
    </div>

</div>

<section class="white-bg padding-vertical">
    <div class="use-steps with-padding">
        <div class="row">

            <div class="hd-6-of-12 hd-offset-6-of-12 tablet-12-of-12 tablet-offset-disabled smartphone-offset-disabled">
                <strong class="fill uppercase">STATUTO</strong>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,.</p>
            </div>

            <div class="hd-6-of-12 tablet-12-of-12 smartphone-offset-disabled">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.</p>
            </div>

            <div class="hd-6-of-12 hd-offset-6-of-12 tablet-12-of-12 tablet-offset-disabled smartphone-offset-disabled">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,.</p>
            </div>
        </div>
    </div>
</section>

<section class="grey-bg padding-vertical">
    <div class="use-steps with-padding">
        {% include about-statute.html %}
    </div>
</section>

{% include index-footer.html %}

<script type="text/javascript" src="{{ site.baseurl }}/js/index.js"></script>
