---
layout: layout
title: home
---

{% include index-nav.html %}
{% include index-header.html %}

<div class="cards yellow-bg wookmark">
    <div class="conf-header">Conferences</div>
    {% include conf/2014-06-kerning-conference.html %}
    {% include conf/2014-05-php-day.html %}
    {% include conf/2014-05-js-day.html %}
    {% include conf/2014-05-php-day.html %}
    {% include conf/2014-06-kerning-conference.html %}
    {% include conf/2014-05-js-day.html %}
    {% include conf/2014-05-js-day.html %}
    {% include conf/2014-05-php-day.html %}
    {% include conf/2014-06-kerning-conference.html %}
</div>

{% include index-footer.html %}

<script type="text/javascript">
    $(function(){

        var $wookmark, options, viewports;

        $wookmark = $(".wookmark > *");

        viewports = [
            {
                columns : 5,
                size    : 1800
            },{
                columns : 4,
                size    : 1280
            },{
                columns : 3,
                size    : 1024
            },{
                columns : 2,
                size    : 768
            },{
                columns : 1,
                size    : 480
            },{
                columns : 1,
                size    : 320
            }
        ];

        options = {
            align           : "left",
            autoResize      : true,
            container       : $(".wookmark"),
            flexibleWidth   : true,
            fillEmptySpace  : false,
            itemWidth       : "25%",
            offset          : 0,
            outerOffset     : 0,
            onLayoutChanged : function() { checkColumnWidth(options, viewports); }
        }

        function getColumnPerc(size) {
            for (var i = 0; viewports.length > i; i += 1) {
                if (size >= viewports[i].size) {
                    return ((100 / viewports[i].columns).toFixed(4)).toString() + "%";
                }
            };

            return "0%"
        }

        function checkColumnWidth(options) {
            var columnPerc, windowWidth;

            windowWidth = parseInt($(window).width());
            columnPerc  = getColumnPerc(windowWidth);

            if (options.itemWidth !== columnPerc) {
                options.itemWidth = columnPerc;
                $wookmark.wookmark(options);
            }
        }

        $(".wookmark > *").wookmark(options);
    });
</script>
