<footer class="main-footer text-center">
    <img src="/img/theme/grusp-logo-cat-head-grey-border.svg">

    {% include social-footer.html %}

    <p class="small-font half to-center fill-till-tablet-landscape padding-padding-horizontal">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br>
        Nulla consequat massa quis enim.<br>
    </p>
    <a class="margin-top padding-top" href="{{ site.baseurl }}/en/"><img src="/img/theme/grusp-logo-lettering-black.svg"></a>
</footer>
