---
layout: layout
title: mygrants
---

{% include it/index-nav.html %}

<style>
    .mygrants a {
        font-weight: bold;
        color: #0A75Bf;
    }
    .mygrants a:hover {
        text-decoration: underline;
    }
</style>

<div class="use-steps header-grusp mygrants">
    <div class="full margin-top">
        <img class="grusp-logo-about fill-till-smartphone-landscape" src="/img/theme/mygrants-logo.svg">
    </div>
    <div class="row visible">
        <div class="hd-6-of-12">
            <ul>
                <li><a href="#what">Di cosa si tratta? 📌</a></li>
                <li><a href="#how">Come puoi supportarci? 👩‍💻</a></li>
                <li><a href="#why">Perchè supportare il progetto? 🙏</a></li>
                <li><a href="#offer">Cosa possiamo offrire? 🎁</a></li>
                <li><a href="#redeem">Riscatta il tuo premio 🎊</a></li>
                <li><a href="#doubts">Dubbi?</a></li>
                {% comment %}
                <li><a href="#copy">Copy pronti da condividere</a></li>
                {% endcomment %}
                <li style="margin-top: 1em"><a href="https://docs.google.com/document/d/1QRmgI-a5gSidT-eo-uep6FnuzDNWWUqoBspmWgFCNYY/edit#bookmark=id.o17kpua0jqze" target="_blank">English version</a></li>
            </ul>
        </div>
        <span class="fill clear"></span>
    </div>
</div>

<section class="white-bg padding-vertical mygrants">
    <div class="use-steps with-padding">
        <div class="row">

            <div class="hd-6-of-12 hd-offset-6-of-12 tablet-12-of-12 tablet-offset-disabled smartphone-offset-disabled">
                <h2 class="fill uppercase" id="what">Di cosa si tratta? 📌</h2>

                <p>
                    Il progetto di collaborazione nasce in seno alla possibilità di creare una sorta di questionario di
                    valutazione delle competenze su PHP ed altre tecnologie web per formare e dare lavoro ad immigranti
                    ed aventi bisogno (in Italia ma anche all'estero).
                </p>

                <p>
                    I ragazzi di MyGrants.it useranno i test per capire il tasso medio di competenza di chi applica in
                    modo da avere una prima valutazione iniziale.
                    L’idea si basa un po’ sul<a href="https://www.linkedin.com/help/linkedin/answer/99584/valutazioni-delle-competenze-di-linkedin?lang=it" target="_blank" rel="nofollow">modello dei test di autovalutazione di linkedin.</a>
                    Tutti i dettagli del progetto su <a href="http://www.mygrants.it" target="_blank">www.mygrants.it</a>
                </p>
            </div>

            <div class="hd-6-of-12 tablet-12-of-12 smartphone-offset-disabled">
                <h2 class="fill uppercase" id="how">Come puoi supportarci? 👩‍💻</h2>

                <p>
                    Prepara delle domande compilando questo <a href="https://docs.google.com/spreadsheets/d/16I-IR3ndafbwQJcMwDzT6BCx_5ysdT5amXVAbgh3dyg/edit#gid=1822574587" target="_blank">sheet</a> sui seguenti argomenti:
                </p>

                <ul>
                    <li>PHP</li>
                    <li>Javascript</li>
                    <li>MySQL</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Angular</li>
                    <li>Reactjs</li>
                </ul>

                <p style="margin-top: 1em">
                    Basterebbe che anche solo ognuno di noi preparasse una domanda per coprire le esigenze totali.
                </p>

                <p>
                    <a href="https://docs.google.com/spreadsheets/d/16I-IR3ndafbwQJcMwDzT6BCx_5ysdT5amXVAbgh3dyg/edit?usp=sharing" target="_blank">Qui trovi lo sheet condiviso</a>
                    dove puoi vedere gli esempi nei tab <em>esempio_IT</em> ed <em>esempio_EN</em> e sulla base di quelli completare le altre tabelle.
                    Non trovi la tabella di riferimento alla tematica che conosci? Creala liberamente rispettando la nomenclatura delle altre.
                    Massimo 250 domande per ogni argomento.
                </p>

                <p style="margin-top: 1em">
                    📢Oltre alle domande vuoi supportare anche tu questa iniziativa e spargere la voce?
                    Condividila tra i tuoi contatti, sui tuoi social o all’interno della tua community. In fondo a questo
                    doc troverai i <a href="https://docs.google.com/document/d/1QRmgI-a5gSidT-eo-uep6FnuzDNWWUqoBspmWgFCNYY/edit#bookmark=id.56t3ixyxvva" target="_blank">copy pronti da copiare e incollare</a>!
                    Grazie per il tuo supporto 💕
                </p>
            </div>

            <div class="hd-6-of-12 hd-offset-6-of-12 tablet-12-of-12 tablet-offset-disabled smartphone-offset-disabled">
                <h2 class="fill uppercase" id="why">Perchè supportare il progetto? 🙏</h2>

                <p>
                    Il ricavato della collaborazione ci permetterà di:
                </p>

                <ul>
                    <li>avere budget per le prossime iniziative</li>
                    <li>offrire biglietti scontati per le conferenze</li>
                    <li>ampliare il progetto di scholarships</li>
                    <li>supporto per la nuova academy e le masterclass</li>
                </ul>

                <p style="margin-top: 1em">
                    Fai parte di un PUG?
                </p>

                <p>
                    I PUG più attivi avranno un piccolo budget da spendere per le proprie attività, così come un elePHPant
                    esclusivo del GrUSP ed uno di SiteGround.
                </p>

                <p style="margin-top: 1em">
                    Non fai parte di un PUG?
                </p>

                <p>Partecipa a <a href="/it/pug.html">quello più vicino a te</a>!</p>
            </div>

            <div class="hd-6-of-12 tablet-12-of-12 smartphone-offset-disabled">
                <h2 class="fill uppercase" id="offer">Cosa possiamo offrire? 🎁</h2>

                <p>
                    Crediamo nell’iniziativa e vogliamo supportare MyGrants nella realizzazione del progetto.
                </p>

                <p style="margin-top: 1em">
                    Ecco cosa possiamo offrirti se darai il tuo contributo:
                </p>

                <ul>
                    <li>10% di <strong>sconto</strong> sul biglietto di una nostra conferenza 2021 a tua scelta nelle sua edizione virtuale ogni 10 domande diverse. 30 domande diverse, 30% di sconto!</li>
                    <li>Un biglietto <strong>gratuito</strong> per una conferenza a tua scelta nella sua edizione virtuale ogni 50 domande diverse.</li>
                </ul>

                <p style="margin-top: 1em">
                    Fai 70 domande differenti? Avrai un biglietto gratuito + il 20% di sconto per una conferenza a tua scelta!
                </p>

                <p>
                    <strong>Attenzione:</strong> nel conteggio delle domande non contano le traduzioni. Devono essere 10 domande differenti e non possono essere copiate da quelle già inserite.
                </p>

                <p style="margin-top: 1em">
                    Ricorda: dal 2021 tutte le conferenze che potremo tenere di persona saranno ibride e quindi avrai la possibilità di seguire l’edizione virtuale che preferisci.
                </p>

                <p style="margin-top: 1em">
                    Grazie per il tuo supporto, inizia subito a compilare lo <a href="https://bit.ly/3lRdbBs" target="_blank">sheet con le domande</a>.
                </p>
            </div>

            <div class="hd-6-of-12 hd-offset-6-of-12 tablet-12-of-12 tablet-offset-disabled smartphone-offset-disabled">
                <h2 class="fill uppercase" id="redeem">Riscatta il tuo premio 🎊</h2>

                <p>
                    Ricorda di inserire nella colonna delle NOTE il tuo nick name e
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe5AdepjUEKagaESbR5CbUxd8Cd3uur9XiQGMQH7_EPf522vQ/viewform?usp=sf_link" target="_blank">compila questo form</a>
                    per riscattare il tuo premio di ringraziamento ;)
                </p>

                <p style="margin-top: 1em">
                    Ti aspettiamo sul <a href="https://slack-grusp.herokuapp.com/" target="_blank">nostro Slack</a> insieme agli altri 1600 membri della nostra community!
                </p>
            </div>

            <div class="hd-6-of-12 tablet-12-of-12 smartphone-offset-disabled">
                <h2 class="fill uppercase" id="doubts">Dubbi? Domande?</h2>

                <p>
                    Scrivici a <a href="mailto:community@grusp.org">community@grusp.org</a> oppure, se sei sul nostro
                    Slack contatta direttamente <a href="https://app.slack.com/client/T02JZGHN5/DTZ5HAP8W" target="_blank">@Michela Bertaina</a> o
                    <a href="https://app.slack.com/client/T02JZGHN5/DUFNH0TSP" target="_blank">@Francesco Fullone</a>.
                </p>
            </div>

            {% comment %}
            <div class="hd-6-of-12 hd-offset-6-of-12 tablet-12-of-12 tablet-offset-disabled smartphone-offset-disabled">
                <h2 class="fill uppercase" id="copy">COPY PRONTI PER SOCIAL E CONDIVISIONE INIZIATIVA 💪</h2>

                <p>
                    Puoi trovare tutto a questo <a href="https://docs.google.com/document/d/1QRmgI-a5gSidT-eo-uep6FnuzDNWWUqoBspmWgFCNYY/edit#bookmark=id.56t3ixyxvva" target="_blank">link</a>!
                </p>
            </div>
            {% endcomment %}
        </div>
</section>

{% include it/index-footer.html %}

<script type="text/javascript" src="{{ site.baseurl }}/js/index.js"></script>
