<footer class="main-footer text-center">
    <img src="{{ site.baseurl }}/img/theme/grusp-logo-cat-head-grey-border.svg">
    <div class="social-buttons margin-top padding-vertical">
        <a class="social-black facebook" href="#"></a>
        <a class="social-black twitter" href="#"></a>
        <a class="social-black google" href="#"></a>
        <a class="social-black youtube" href="#"></a>
        <a class="social-black vimeo" href="#"></a>
        <a class="social-black flickr" href="#"></a>
    </div>
    <p class="small-font half to-center fill-till-tablet-landscape padding-padding-horizontal">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br>
        Nulla consequat massa quis enim.<br>
    </p>
    <a class="margin-top padding-top" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/theme/grusp-logo-lettering-black.svg"></a>
</footer>
