<div class="main-nav">
    <div class="opened-menu table no-line-height">
        <ul>
            <li class="fill">
                <a class="no-line-height" href="{{ site.baseurl }}/">
                    <img class="grusp-logo" src="{{ site.baseurl }}/img/theme/grusp-logo-text-white.svg">
                </a>
            </li>
            <li>
                <span class="mobile-button open"></span>
            </li>
        </ul>
    </div>
    <div class="slide-menu closed">
        <div class="text-center contents">
            <div class="language uppercase">
                <a class="selected" href="#">Italiano</a> / <a href="#">English</a>
            </div>
            <nav class="navigation margin-top uppercase">
                <div><a class="header-button" href="{{ site.baseurl }}/">Home</a></div>
                <div><a class="header-button" href="{{ site.baseurl }}/about.html">About</a></div>
                <div><a class="header-button" href="{{ site.baseurl }}/#">Videos</a></div>
            </nav>
            <div class="margin-top">
                <img src="{{ site.baseurl }}/img/theme/grusp-logo-cat-head-black-border.svg">
                <p class="margin-top small-font half to-center fill-till-tablet-landscape">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
                    Aenean commodo ligula eget dolor.
                </p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$(function(){
    var menuHeight, windowHeight;

    function getMenuHeight() {
        menuHeight   = $(".main-nav .opened-menu").outerHeight();
        windowHeight = $(window).height();
        return windowHeight - menuHeight;
    }

    $(window).on("resize", function() {
        if ($(".main-nav .mobile-button").hasClass("close")) {
            $(".slide-menu").height(getMenuHeight());
        }
    });

    $(document).on("click", ".main-nav .mobile-button", function(){
        if ($(this).hasClass("open")) {
            $(this).removeClass("open").addClass("close");
            $(".slide-menu").removeClass("closed").css({
                height : getMenuHeight()
            });
        } else {
            $(this).removeClass("close").addClass("open");
            $(".slide-menu").addClass("closed").css({
                height : 0
            });
        }
    });
});
</script>
