<header>
    <div class="header-grusp use-steps text-center margin-bottom">
        <div class="grusp-logo-full margin-bottom">
            we are
            <h1 class="hidden">GrUSP</h1>
        </div>
        <p class="small-font half to-center fill-till-tablet-landscape padding-horizontal">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nulla consequat massa quis enim.
        </p>
        <div class="go-to-bottom-arrow to-center margin-top"></div>
    </div>
</header>
