{% for conf in site.data.conferences %}
<div class="{{ conf.class }} conf">
    <div class="bg"></div>

    <div class="conf-container">
        <a href="{{ conf.url }}"><strong class="title">{{ conf.name }}</strong></a>
        <time datetime="{{ conf.datetime }}">{{ conf.date }}</time>
        <span class="location">{{ conf.location }}</span>

        {% if conf.video %}<a class="tag" href="{{ conf.video }}">Guarda i video</a>{% endif %}
        {% if conf.cfp %}<a class="tag" href="{{ conf.cfp }}">Call for Paper</a>{% endif %}
        {% if conf.cfs %}<a class="tag" href="mailto:{{ conf.cfs }}">Call for Sponsor</a>{% endif %}

        <p>
            {{ conf.description }}
        </p>

        <b>Previous editions</b>
        {% for edition in conf.editions %}
                <a class="tag grey" href="{{ edition.url }}">{{ edition.year }}</a>

        {% endfor %}

        <div class="margin-top">
            {% if conf.fb %} <a class="social facebook" href="{{ conf.fb }}"></a>{% endif %}
            {% if conf.video %}<a class="social vimeo" href="{{ conf.video }}"></a>{% endif %}
            {% if conf.photos %}<a class="social flickr" href="{{ conf.photos }}"></a>{% endif %}
            {% if conf.twitter %}<a class="social twitter" href="http://twitter.com/{{ conf.twitter }}"></a>{% endif %}
        </div>
    </div>
</div>
{% endfor %}
