<div class="social-buttons margin-top padding-vertical">
    <a class="social-black facebook" target="_blank" href="https://www.facebook.com/GrUSP"></a>
    <a class="social-black twitter"  target="_blank" href="https://twitter.com/grusp"></a>
    <a class="social-black google"   target="_blank" href="https://plus.google.com/communities/101680963704972624324"></a>
    <a class="social-black youtube"  target="_blank" href="http://www.youtube.com/results?search_query=grusp"></a>
    <a class="social-black vimeo"    target="_blank" href="http://vimeo.com/grusp"></a>
    <a class="social-black flickr"   target="_blank" href="https://www.flickr.com/search/?tags=grusp"></a>

    <br>

    <script async defer src="http://slack-grusp.herokuapp.com/slackin.js"></script>
</div>
