<div class="php-day conf">
    <div class="bg"></div>

    <div class="conf-container">
        <strong class="title">Php Day</strong>
        <time datetime="2014-06-05">5 - 6 giugno 2014</time>
        <span class="location">Faenza, Italia</span>

        <a class="tag" href="#">Call for Paper</a>
        <a class="tag" href="#">Call for Sponsor</a>

        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
        </p>

        <b>Edizioni precedenti</b>
        <a class="tag grey" href="#">2013</a>

        <div class="margin-top">
            <a class="social facebook" href="#"></a>
            <a class="social twitter" href="#"></a>
            <a class="social vimeo" href="#"></a>
            <a class="social flickr" href="#"></a>
        </div>
    </div>
</div>
