<div class="kerning conf">
    <div class="bg"></div>

    <div class="conf-container">
        <strong class="title">Kerning Conference</strong>
        <time datetime="2014-06-05">5 - 6 giugno 2014</time>
        <span class="location">Faenza, Italia</span>

        <a class="tag" href="#">Guarda i video</a>

        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
        </p>

        <b>Edizioni precedenti</b>
        <a class="tag grey" href="#">2013</a>

        <div>
            social
        </div>
    </div>
</div>
